logicapp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "Receive_JSON_payload_from_action_group": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "schemaId": {
                                "type": "string"
                            },
                            "data": {
                                "type": "object",
                                "properties": {
                                    "essentials": {
                                        "type": "object",
                                        "properties": {
                                            "alertId": {
                                                "type": "string"
                                            },
                                            "alertRule": {
                                                "type": "string"
                                            },
                                            "severity": {
                                                "type": "string"
                                            },
                                            "signalType": {
                                                "type": "string"
                                            },
                                            "monitorCondition": {
                                                "type": "string"
                                            },
                                            "monitoringService": {
                                                "type": "string"
                                            },
                                            "alertTargetIDs": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            "originAlertId": {
                                                "type": "string"
                                            },
                                            "firedDateTime": {
                                                "type": "string"
                                            },
                                            "resolvedDateTime": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "essentialsVersion": {
                                                "type": "string"
                                            },
                                            "alertContextVersion": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "alertContext": {
                                        "type": "object",
                                        "properties": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "actions": {
            "Compose_alert_payload": {
                "runAfter": {
                    "Read_a_resource": [
                        "Succeeded"
                    ]
                },
                "type": "Compose",
                "inputs": "@{union(body('Parse_alert_payload'), json(concat('{\"data\": ', string(union(body('Parse_alert_payload')?['data'], json(concat('{\"customProperties\": ', string(body('Read_a_resource')?['tags']), '}')))), '}')))}"
            },
            "AffectedResource": {
                "runAfter": {
                    "Parse_alert_payload": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "AffectedResource",
                            "type": "array",
                            "value": "@split(triggerBody()?['data']?['essentials']?['alertTargetIDs'][0], '/')"
                        }
                    ]
                }
            },
            "Read_a_resource": {
                "runAfter": {
                    "AffectedResource": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['arm']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/subscriptions/@{encodeURIComponent(variables('AffectedResource')[2])}/resourcegroups/@{encodeURIComponent(variables('AffectedResource')[4])}/providers/@{encodeURIComponent(variables('AffectedResource')[6])}/@{encodeURIComponent(concat(variables('AffectedResource')[7], '/', variables('AffectedResource')[8]))}",
                    "queries": {
                        "x-ms-api-version": "2021-04-01"
                    }
                }
            },
            "Parse_alert_payload": {
                "runAfter": {},
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerBody()",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "schemaId": {
                                "type": "string"
                            },
                            "data": {
                                "type": "object",
                                "properties": {
                                    "essentials": {
                                        "type": "object",
                                        "properties": {
                                            "alertId": {
                                                "type": "string"
                                            },
                                            "alertRule": {
                                                "type": "string"
                                            },
                                            "severity": {
                                                "type": "string"
                                            },
                                            "signalType": {
                                                "type": "string"
                                            },
                                            "monitorCondition": {
                                                "type": "string"
                                            },
                                            "monitoringService": {
                                                "type": "string"
                                            },
                                            "alertTargetIDs": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            "originAlertId": {
                                                "type": "string"
                                            },
                                            "firedDateTime": {
                                                "type": "string"
                                            },
                                            "resolvedDateTime": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "essentialsVersion": {
                                                "type": "string"
                                            },
                                            "alertContextVersion": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "alertContext": {
                                        "type": "object",
                                        "properties": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "HTTP": {
                "runAfter": {
                    "Compose_alert_payload": [
                        "Succeeded"
                    ]
                },
                "type": "Http",
                "inputs": {
                    "uri": "https://iag1test.service-now.com/api/sn_em_connector/em/inbound_event?source=azuremonitor",
                    "method": "POST",
                    "headers": {
                        "typ": "JWT",
                        "alg": "RS256",
                        "x5t": "CNv0OI3RwqlHFEVnaoMAshCH2XE",
                        "kid": "CNv0OI3RwqlHFEVnaoMAshCH2XE",
                        "appidacr": "2"
                    },
                    "body": "@outputs('Compose_alert_payload')",
                    "authentication": {
                        "type": "ActiveDirectoryOAuth",
                        "authority": "https://sts.windows.net/",
                        "tenant": "8bc3bb99-ff6d-42ef-9b17-1ea52c4db4ed",
                        "audience": "api://fe05437f-c0ee-4c24-a034-532390fb5e2b",
                        "clientId": "fe05437f-c0ee-4c24-a034-532390fb5e2b",
                        "secret": "X5d8Q~knSFEl25rDMLL0pqy5DJolNgcFHiF6fczQ"
                    }
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "arm": {
                    "id": "/subscriptions/7bf5180b-751c-4811-878e-ba5671790872/providers/Microsoft.Web/locations/uksouth/managedApis/arm",
                    "connectionId": "/subscriptions/7bf5180b-751c-4811-878e-ba5671790872/resourceGroups/iaggbs-rg-aiops-test-uksouth-01/providers/Microsoft.Web/connections/arm",
                    "connectionName": "arm",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                }
            }
        }
    }
}